body {
    background-color: rgb(210, 177, 164);
  }

  .bildCollage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  h2 {
    text-align: center;
  }

  div img {
    display: block;
    margin: auto;
    max-width: 100%;
  }
  h3 {
    text-align: center;
    font-style: arial;
    font-size: 30px;
    
  
  }
